/* .signup-container {
  background: linear-gradient(180deg, #ececec 0%, #f8f8f8 100%);
  box-shadow: 0px 4px 20px rgba(103, 54, 54, 0.25);
}

.signup-content {
  text-align: center;
}

.signup-content a {
  text-decoration: none;
} */
